<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CarOemTalkMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.model.CarOemTalk">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="talk_url" jdbcType="VARCHAR" property="talkUrl" />
    <result column="talk_title" jdbcType="VARCHAR" property="talkTitle" />
    <result column="talk_image_url" jdbcType="VARCHAR" property="talkImageUrl" />
    <result column="car_page_oem_id" jdbcType="BIGINT" property="carPageOemId" />
    <result column="show_order" jdbcType="INTEGER" property="showOrder" />
    <result column="talk_id" jdbcType="VARCHAR" property="talkId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, talk_url, talk_title, talk_image_url, car_page_oem_id, show_order, talk_id
  </sql>
  <select id="selectByExample" parameterType="com.example.demo.model.CarOemTalkExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car_oem_talk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_oem_talk
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from car_oem_talk
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.demo.model.CarOemTalkExample">
    delete from car_oem_talk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.demo.model.CarOemTalk">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_oem_talk (talk_url, talk_title, talk_image_url, 
      car_page_oem_id, show_order, talk_id
      )
    values (#{talkUrl,jdbcType=VARCHAR}, #{talkTitle,jdbcType=VARCHAR}, #{talkImageUrl,jdbcType=VARCHAR}, 
      #{carPageOemId,jdbcType=BIGINT}, #{showOrder,jdbcType=INTEGER}, #{talkId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.model.CarOemTalk">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into car_oem_talk
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="talkUrl != null">
        talk_url,
      </if>
      <if test="talkTitle != null">
        talk_title,
      </if>
      <if test="talkImageUrl != null">
        talk_image_url,
      </if>
      <if test="carPageOemId != null">
        car_page_oem_id,
      </if>
      <if test="showOrder != null">
        show_order,
      </if>
      <if test="talkId != null">
        talk_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="talkUrl != null">
        #{talkUrl,jdbcType=VARCHAR},
      </if>
      <if test="talkTitle != null">
        #{talkTitle,jdbcType=VARCHAR},
      </if>
      <if test="talkImageUrl != null">
        #{talkImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="carPageOemId != null">
        #{carPageOemId,jdbcType=BIGINT},
      </if>
      <if test="showOrder != null">
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="talkId != null">
        #{talkId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.demo.model.CarOemTalkExample" resultType="java.lang.Long">
    select count(*) from car_oem_talk
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update car_oem_talk
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.talkUrl != null">
        talk_url = #{record.talkUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.talkTitle != null">
        talk_title = #{record.talkTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.talkImageUrl != null">
        talk_image_url = #{record.talkImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.carPageOemId != null">
        car_page_oem_id = #{record.carPageOemId,jdbcType=BIGINT},
      </if>
      <if test="record.showOrder != null">
        show_order = #{record.showOrder,jdbcType=INTEGER},
      </if>
      <if test="record.talkId != null">
        talk_id = #{record.talkId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update car_oem_talk
    set id = #{record.id,jdbcType=BIGINT},
      talk_url = #{record.talkUrl,jdbcType=VARCHAR},
      talk_title = #{record.talkTitle,jdbcType=VARCHAR},
      talk_image_url = #{record.talkImageUrl,jdbcType=VARCHAR},
      car_page_oem_id = #{record.carPageOemId,jdbcType=BIGINT},
      show_order = #{record.showOrder,jdbcType=INTEGER},
      talk_id = #{record.talkId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.model.CarOemTalk">
    update car_oem_talk
    <set>
      <if test="talkUrl != null">
        talk_url = #{talkUrl,jdbcType=VARCHAR},
      </if>
      <if test="talkTitle != null">
        talk_title = #{talkTitle,jdbcType=VARCHAR},
      </if>
      <if test="talkImageUrl != null">
        talk_image_url = #{talkImageUrl,jdbcType=VARCHAR},
      </if>
      <if test="carPageOemId != null">
        car_page_oem_id = #{carPageOemId,jdbcType=BIGINT},
      </if>
      <if test="showOrder != null">
        show_order = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="talkId != null">
        talk_id = #{talkId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.model.CarOemTalk">
    update car_oem_talk
    set talk_url = #{talkUrl,jdbcType=VARCHAR},
      talk_title = #{talkTitle,jdbcType=VARCHAR},
      talk_image_url = #{talkImageUrl,jdbcType=VARCHAR},
      car_page_oem_id = #{carPageOemId,jdbcType=BIGINT},
      show_order = #{showOrder,jdbcType=INTEGER},
      talk_id = #{talkId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>